body {
    font-family: 'Inter', sans-serif;
    background-color: #f8f9fa;
}

.container {
    max-width: 800px;
}

/* Card Styling */
.card {
    border-radius: 10px;
}

/* Button Styling */
.btn-success, .btn-outline-primary, .btn-danger {
    font-weight: bold;
    padding: 10px;
    border-radius: 6px;
}

.btn-success:hover {
    background-color: #256d27;
}

.btn-danger:hover {
    background-color: #b71c1c;
}

.btn-outline-primary:hover {
    background-color: #125ea3;
    color: white;
}

/* Table Styles */
.table {
    border-radius: 8px;
    overflow: hidden;
}

.table thead th {
    text-align: center;
}

.table-hover tbody tr:hover {
    background-color: rgba(0, 128, 0, 0.1);
}
