body {
    font-family: 'Inter', sans-serif;
    background-color: #f8f9fa;
}

.container {
    max-width: 750px;
}

.card {
    border-radius: 10px;
}

.form-switch {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 0.75rem;
}

.form-switch .form-check-label {
    margin-bottom: 0;
    line-height: 1.4rem;
}

.form-switch .form-check-input {
    width: 2.5rem;
    height: 1.4rem;
    margin-right: 10px;
    cursor: pointer;
}

.form-switch .form-check-label {
    font-weight: 500;
    cursor: pointer;
}

.form-control {
    border-radius: 8px;
}

.btn-success {
    font-weight: bold;
    padding: 10px;
    border-radius: 6px;
}

.btn-success:hover {
    background-color: #256d27;
}
