<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Login</title>
</head>
<body>
    <h2>Employee Login</h2>
    
        <!-- Flash Messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div id="flash-container">
            {% for category, message in messages %}
                <div class="flash-message {{ category }}">{{ message }}</div>
            {% endfor %}
            </div>

            <script>
            setTimeout(() => {
                document.getElementById('flash-container').style.display = 'none';
            }, 3000);  // Auto-hide after 3 seconds
            </script>
        {% endif %}
        {% endwith %}

    <form method="POST">
        <label for="employee_id">Employee ID:</label>
        <input type="text" name="employee_id" id="employee_id" required pattern="[0-9]*" inputmode="numeric">
        <button type="submit">Login</button>
    </form>
    <a href="{{ url_for('admin.login_admin') }}">Admin/HR Login</a>
</body>
</html>